.vscode/**
.vscode-test/**
.github/**
.claude/**
out/
src/
images/
doc/**
docs/**
design-demo/
.qoder/
tmp_files/**
bench/**
.bench/**
tsconfig.bench.json
.gitignore
.eslintignore
.prettierignore
.prettierrc
.yarnrc
CLAUDE.md
jest.config.js
earlab.png
**/.DS_Store
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
package-lock.json
webpack.config.js
